@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Noto Sans TC Black'), local('NotoSansTC-Black'), url(https://fonts.gstatic.com/s/notosanstc/v10/-nFkOG829Oofr2wohFbTp9i9uwYvDQ.otf) format('opentype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/*Variables and Mix-ins*/
.sectionStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-wrap: wrap;
}
/*General Styles*/
* {
  background-color: #193441;
}
/*Header and Navbar*/
header {
  font-family: 'Noto Sans TC', sans-serif;
  text-transform: uppercase;
  background-image: url("images/banner.jfif");
}
header nav {
  display: flex;
  justify-content: space-evenly;
}
header nav a {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  color: #e7a633;
  border-left: solid 3px #e7a633;
  text-decoration: none;
  text-transform: capitalize;
  padding: 4px;
}
header .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
header .banner h1 {
  font-size: 5.5rem;
  letter-spacing: 4px;
  color: #9fc4b3;
}
header .banner h2 {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  color: ivory;
}
/*About Section*/
#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
#aboutMe p {
  width: 75%;
  text-align: center;
}
#aboutMe img {
  width: 25%;
  border-radius: 50%;
  margin: 35px;
}
#aboutMe h2 {
  font-size: 2.5rem;
  padding: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  color: #9fc4b3;
}
#aboutMe p {
  color: ivory;
  font-family: 'Quicksand', sans-serif;
}
/*Career and References Section*/
#careerRef {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-wrap: wrap;
}
#careerRef h3 {
  font-size: 2.5rem;
  padding: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  color: #9fc4b3;
}
#careerRef p {
  color: ivory;
  font-family: 'Quicksand', sans-serif;
}
/*Academic and Skills Section*/
#academSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  flex-wrap: wrap;
}
#academSkills h3 {
  font-size: 2.5rem;
  padding: 30px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  color: #9fc4b3;
}
#academSkills p {
  color: ivory;
  font-family: 'Quicksand', sans-serif;
}
/* Footer */
footer nav {
  display: flex;
  justify-content: end;
  width: 100%;
}
footer nav a {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  color: #e7a633;
  border-left: solid 3px #e7a633;
}
