
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&family=Quicksand&display=swap');
// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%;
}
/*Variables and Mix-ins*/
@primaryColor: #193441;
@secondaryColor: #9fc4b3;
@accentColor: #e7a633;
@textColor: ivory;
@headerFont: 'Noto Sans TC', sans-serif;
@mainFont: 'Quicksand', sans-serif;

.navStyles() {
	font-family: @mainFont;
	font-size: 1.8rem;
	color: @accentColor;
	border-left: solid 3px @accentColor;
}
.headerStyles(){
	font-size: 2.5rem;
	padding: 30px;
	font-family: @headerFont;
	font-size: 3rem;
	color:@secondaryColor
}
.paragraphStyles(){
	color: @textColor;
	font-family: @mainFont;
}
.sectionStyles{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	flex-wrap: wrap;
}

/*General Styles*/

	body{
		background-color: @primaryColor;
	}

/*Header and Navbar*/

header{
	font-family: @headerFont;
	text-transform: uppercase;
	background-image: url("/images/bg.jpg");
	height: 50vh;

	nav{
		display: flex;
		justify-content: space-evenly;

		a{
			.navStyles();
			text-decoration: none;
			text-transform: capitalize;
			padding: 4px;
			&:hover{
				color: @textColor;
				transition: 0.4s ease;
			}
		}
	}
	.banner{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10%;
			
		h1{
				font-size: 5.5rem;
				letter-spacing: 4px;
				color: @secondaryColor;
				text-align: center;
			}
		h2{
			font-size: 3rem;
			font-family: @mainFont;
			color:@textColor
		}
	}
}

/*About Section*/

#aboutMe{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	
	p{
		width:75%;
		text-align: center;
	}
	
	img{
		width: 25%;
		border-radius: 50%;
		margin: 35px;
	}

	h2{
		.headerStyles();
	}
	p{
		.paragraphStyles();
	}
}

/*Career and References Section*/
#rowOne{
	.sectionStyles();

	h3{
		.headerStyles();
	}
	ul{
		.paragraphStyles();
	}
}

/*Academic and Skills Section*/

#rowTwo{
	.sectionStyles();

	h3{
		.headerStyles();
	}
	ul{
		.paragraphStyles();
	}
}

/* Footer */
footer{
	nav{
		display: flex;
		justify-content: end;
		width: 100%;

		a{
			.navStyles();
			margin: 20px;
		}

	}
}